{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/forums_by_category.html.twig' import forum_view_selector %}

{% block page_classes %}
  forum-list-page
{% endblock %}

{% block title %}
  {{- 'forum_list.page_title'|trans -}}
{% endblock %}

{% block head %}
  <link rel="canonical" href="{{ url('raddit_app_forum_list') }}">
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: forums} %}
{% endblock %}

{% from _self import table_head as th %}
{% from '@RadditApp/macros/forum_list_macros.html.twig' import forum_list_header %}

{% block body %}
  {{ forum_list_header() }}

  <table class="table table--fixed-columns forum-list">
    <thead>
      <tr>
        <th>{{ th('forum_list.name'|trans, 'by_name', sortBy) }}</th>
        <th>{{ th('forum_list.title'|trans, 'by_title', sortBy) }}</th>
        <th>{{ th('forum_list.submission_count'|trans, 'by_submissions', sortBy) }}</th>
        <th>{{ th('forum_list.subscribers'|trans, 'by_subscribers', sortBy) }}</th>
      </tr>
    </thead>
    <tbody>
      {% for forum in forums %}
        <tr>
          <td><a href="{{ path('raddit_app_forum', {forum_name: forum.name}) }}"><strong>{{ forum.name }}</strong></a></td>
          <td>{{ forum.title }}</td>
          <td>{{ forum.submissions|length|localizednumber }}</td>
          {% if is_granted('ROLE_USER') %}
            {% from '@RadditApp/macros/forum_macros.html.twig' import subscribe_button %}
            {% set subscribed = forum.subscribed(app.user) %}
            <td>
              <form action="{{ path(subscribed ? 'raddit_app_unsubscribe' : 'raddit_app_subscribe', {id: forum.id}) }}" method="POST">
                <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
                {{ subscribe_button(forum, subscribed, true) }}
              </form>
            </td>
          {% else %}
            <td>{{ forum.subscriptions|length|localizednumber }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: forums} %}
{% endblock %}

{% macro table_head(label, newSortBy, currentSortBy) %}
  {%- if newSortBy == currentSortBy -%}
    {{ label }} &#x25BC;
  {% else %}
    <a href="{{ path('raddit_app_forum_list', app.request.attributes.get('_route_params')|merge({sortBy: newSortBy})) }}">
      {{- label -}}
    </a>
  {%- endif -%}
{% endmacro %}
