{% extends '@RadditApp/forum_base.html.twig' %}

{% block title %}
  {{ submission.title }}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar__section--submission-meta sidebar-submission-meta">
    <p class="sidebar-submission-meta-score">
      <strong class="vote-total">{{- 'submissions.total_votes'|transchoice(submission.votes|length) -}}</strong>
      <span class="vote-stats">{{ 'submissions.vote_stats'|trans({
          '%up%': submission.upvotes,
          '%down%': submission.downvotes,
        }) }}</span>
    </p>
  </section>

  {{ parent() }}
{% endblock %}

{% block body %}
  <nav class="submission-permalink-nav">
    <ul>
      <li>
        <a href="{{ path('raddit_app_forum', {forum_name: forum.name}) }}">
          {{ 'comments.return_to_forum'|trans({'%forum%': '<strong>/'~forum.name~'</strong>'})|raw -}}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
